nav {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  input {
    margin: 0 2rem;
    height: 1.7rem;
    border-radius: 5px;
    border: transparent;
    width: 300px;
  }
}
.right {
  position: relative;
}
p {
  text-align: center;
  font-weight: bold;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 20px;
}
