.wrapper {
  display: flex;
  justify-content: center;
  .album-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    .album {
      width: 300px;
      height: 300px;
      border-radius: 10px;
      background-color: turquoise;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .text {
        visibility: hidden;
      }

      h5 {
        margin: 1rem 0;
      }
    }
    .album:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.055) !important;
      .text {
        visibility: visible;
      }
    }
  }
}
h1 {
  text-align: center;
  margin: 1rem;
}
